# ======================
# Visual Studio
# ======================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ======================
# Build / .NET
# ======================
bin/
obj/
*.dll
*.exe

# ======================
# Logs
# ======================
*.log

# ======================
# Node (por si usas algo)
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# OS (Windows / Mac)
# ======================
Thumbs.db
.DS_Store

# ======================
# Env / secretos
# ======================
.env
.env.*

# ======================
# Otros temporales
# ======================
*.tmp
*.cache
